My workflow 6.json
{
  "name": "My workflow 6",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "15ZTdOkPQHL8RVooS0i-XcjIPyRaMXB7m1If-9IyZXS0",
          "mode": "list",
          "cachedResultName": "Untitled form (Responses)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/15ZTdOkPQHL8RVooS0i-XcjIPyRaMXB7m1If-9IyZXS0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1262189063,
          "mode": "list",
          "cachedResultName": "Form Responses 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/15ZTdOkPQHL8RVooS0i-XcjIPyRaMXB7m1If-9IyZXS0/edit#gid=1262189063"
        },
        "event": "rowAdded",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "ddb0cce2-c1f3-465f-8b4f-ed5b2d872497",
      "name": "Google Sheets Trigger",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "FcJiDjIyEXZel9um",
          "name": "Google Sheets Trigger OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "e1f892bc-c11f-4d9f-a19c-6349a477237d",
              "leftValue": "={{ $json['no of leave taken'] }}",
              "rightValue": 3,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": "={{ false }}",
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        208,
        0
      ],
      "id": "3d8ed346-74a5-4a07-bc4e-611bed6d02b7",
      "name": "If"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.email }}",
        "subject": "not approved",
        "message": "={{ $json.name }} sorry not approved ",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        416,
        -96
      ],
      "id": "574b2ef9-7a99-4a45-947a-1235c95e38b9",
      "name": "Send a message",
      "webhookId": "3f72daea-f741-46a1-a769-b1e72c8e5a81",
      "credentials": {
        "gmailOAuth2": {
          "id": "MpK0d3fRifNljm7T",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json.email }}",
        "subject": "approved",
        "message": "={{ $json.name }} yayy your leave is approved",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        416,
        96
      ],
      "id": "8fde43ea-9e62-43af-ab97-475ad379055d",
      "name": "Send a message1",
      "webhookId": "0817273c-d4ff-48f8-b62c-60a90ab6c5e8",
      "credentials": {
        "gmailOAuth2": {
          "id": "MpK0d3fRifNljm7T",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "15ZTdOkPQHL8RVooS0i-XcjIPyRaMXB7m1If-9IyZXS0",
          "mode": "list",
          "cachedResultName": "Untitled form (Responses)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/15ZTdOkPQHL8RVooS0i-XcjIPyRaMXB7m1If-9IyZXS0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1262189063,
          "mode": "list",
          "cachedResultName": "Form Responses 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/15ZTdOkPQHL8RVooS0i-XcjIPyRaMXB7m1If-9IyZXS0/edit#gid=1262189063"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "no of leave taken",
              "displayName": "no of leave taken",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "threadId",
              "displayName": "threadId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "labelIds",
              "displayName": "labelIds",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        624,
        -96
      ],
      "id": "e509fd20-ceb5-417a-a93d-07beb98f9611",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Xk5joRoy7KwgeClT",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "15ZTdOkPQHL8RVooS0i-XcjIPyRaMXB7m1If-9IyZXS0",
          "mode": "list",
          "cachedResultName": "Untitled form (Responses)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/15ZTdOkPQHL8RVooS0i-XcjIPyRaMXB7m1If-9IyZXS0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1262189063,
          "mode": "list",
          "cachedResultName": "Form Responses 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/15ZTdOkPQHL8RVooS0i-XcjIPyRaMXB7m1If-9IyZXS0/edit#gid=1262189063"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "no of leave taken",
              "displayName": "no of leave taken",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "threadId",
              "displayName": "threadId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "labelIds",
              "displayName": "labelIds",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        576,
        112
      ],
      "id": "b5c71121-4c89-407d-a332-7eee77a1970b",
      "name": "Append row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Xk5joRoy7KwgeClT",
          "name": "Google Sheets OAuth2 API"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message1": {
      "main": [
        [
          {
            "node": "Append row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "bc1b59c7-fea4-46be-aac9-d2c5dc338b6e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5acd9921d767a3eeb984e070a1199125bc3160c436aac4c2138a9db311f8a193"
  },
  "id": "LAZovlzT6BzXuBI9",
  "tags": []
}